@using AspNet.Models

@{
    ViewBag.Title = "Домашняя страница";
}

<h2>Домашняя страница</h2>

@*@Html.ActionLink("Мой блог", "Index", "Messages")*@
@*@Html.ActionLink("Частичное предстовление", "Index", "Messages")*@

<br />

@Html.Partial("_PersonPartial", new Person("Иван","29","Воронеж"))

<br />
<br />




@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <b>@User.Identity.Name</b>
    if ( User.IsInRole("admin") )
    {
        <br />
        <i>Приветствую Вас, Администратор!</i>
    }
    else
    {
        <br />
        <b>Приветствую Вас, Пользователь!</b>
    }
    <br />

    <b>Вам @ViewData["Age"] лет</b>
    <br />
    <b>Ваша почта: @ViewData["MyEmail"]</b>
    <br />
    <b>Ваш пол: @ViewData["Pol"] </b>


}
else
{
    <br />
    <b>Приветствую Вас, Гость!</b>
}

<hr />

<h1>Ajax - чемпион!</h1>
:)
<br />
@Html.ActionLink("AjaxTest", "AjaxTest", "Home")
